<div class="container padding-bottom-3x mb-2 mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <div class="forgot">

        <h2>Quên Mật Khẩu?</h2>

      </div>

      <form  [formGroup]="formEmail" class="card mt-4">
        <div class="card-body">
          <div class="form-group">
            <label for="email-for-pass">Nhập địa chỉ Email:</label>

            <input class="form-control" (keydown)="onKeyup()"  type="email" formControlName="email" id="email-for-pass">

            <mat-error *ngIf="message ==='notfound'" class="alert-danger">Email không tồn tại</mat-error>
            <mat-error class="error" *ngIf="formEmail.controls.email.errors?.required && formEmail.controls.email.touched">Không được để trống Email.</mat-error>
            <mat-error *ngIf="!formEmail.valid && formEmail.touched">
           Vui lòng nhập email hợp lệ
            </mat-error>

          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-success" type="submit" [disabled]="!this.formEmail.valid || !isEnable" (click)="onSubmit()"> <div  *ngIf="isSubmitted && message==='success' " class="spinner-border spinner-border-sm"  role="status"></div>Lấy mã OTP </button>
          <button routerLink="/auth" class="btn btn-danger ml-3" type="submit"  style="background-color: #0024ff;">Trở lại</button>
        </div>
      </form>
    </div>
  </div>
</div>
