<div class="container padding-bottom-3x mb-2 mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <div class="forgot">
        <h2>Đổi mật khẩu</h2>
        <br>
      </div>
      <form [formGroup]="formPass" class="card mt-4">
        <div class="card-body">
          <div class="form-group">
            <label for="email-for-pass">Nhập mã OTP</label>
            <input class="form-control" pattern='[0-9]{6}' formControlName="code" type="text" id="email-for-pass">
            <mat-error class="error" *ngIf="formPass.controls.code.errors?.required && formPass.controls.code.touched">Không được để trống mã OTP</mat-error>
<!--            <mat-error class="error" *ngIf="formPass.controls.code.errors?.minlength && formPass.controls.code.touched">Mã OTP phải là 6 số</mat-error>-->
<!--            <mat-error  *ngIf="change==='fail'">Mã otp không chính xác</mat-error>-->
            <mat-error class="error"  *ngIf="formPass.controls.code.errors?.pattern && formPass.controls.code.touched">Mã OTP phải là 1 số 6 chữ số</mat-error>
          </div>
          <div class="form-group">
            <label for="password">Nhập mật khẩu mới</label>
            <input class="form-control" id="password" formControlName="password" type="password" id="email-for-pass">
            <mat-error class="error" *ngIf="formPass.controls.password.errors?.pattern && formPass.controls.password.touched">Mật khẩu phải chứa cả chữ, số và ký tự đặc biệt. </mat-error>
            <mat-error class="error" *ngIf="formPass.controls.password.errors?.required && formPass.controls.password.touched">Không được để trống mật khẩu</mat-error>
            <mat-error class="error" *ngIf="formPass.controls.password.errors?.minlength && formPass.controls.password.touched">Mật khẩu phải từ 8-16 kí tự</mat-error>
          </div>
          <div class="form-group">
            <label for="email-for-pass">Nhập lại mật khẩu</label>
            <input class="form-control" formControlName="repeatPassword" type="password" id="email-for-pass">
            <mat-error
                       *ngIf="formPass.controls.password.value !== formPass.controls.repeatPassword.value && formPass.get('repeatPassword').touched">
              Mật khẩu không trùng</mat-error>
          </div>

        </div>
        <div class="card-footer">
          <button  class="btn btn-success" type="button"  (click)="onSubmit()"

                  [disabled]="!formPass.valid || formPass.controls.password.value !== formPass.controls.repeatPassword.value || !isEnable "> <div  *ngIf="isSubmitted" class="spinner-border spinner-border-sm"  role="status"></div>Gửi</button>
          <button routerLink="/auth" class="btn btn-danger ml-3" type="submit"  style="background-color: #0024ff;">Trở lại</button>
          <br>
          <mat-error *ngIf="change === 'notfound'">
          Mật khẩu không đúng định dạng nhập lại</mat-error>
        </div>
      </form>
    </div>
  </div>
</div>

