<form class="form-inline">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<table class = "table table-hover table-bordered table-light">
  <thead class = "table-primary">
  <tr>
    <th>Tên ứng viên</th>
    <th>vị trí ứng tuyển</th>

    <th>file CV</th>
    <th>Trạng thái</th>
    <th>Thời gian nộp hồ sơ  <i class="fa fa-sort" (click)="sorttable()"></i></th>
    <th>quicktion</th>

  </tr>
  </thead>
  <tbody>
  <ng-container  *ngFor="let filerecruits of filerecruit ">
    <tr>
      <td>{{filerecruits.name}}</td>
      <td (click)="getjobPosition(filerecruits)">{{filerecruits.jobPosition}}</td>
      <td>{{filerecruits.cv}}</td>
      <td>{{filerecruits.status}}</td>
      <td>{{filerecruits.dateRegister}}</td>
      <td>
        <button class="btn btn-sm btn-info" *ngIf="filerecruits.status === 'ứng viên bị từ chối'" (click)="getReason(filerecruits)">
          <i class="fa fa-search" ></i>lý do</button>
        <button class="btn btn-sm btn-warning" *ngIf="filerecruits.status === 'chờ phỏng vấn'" (click)="changeDetailJob()">
          <i class="fa fa-edit" ></i>Hẹn phỏng vấn</button>
      </td>

    </tr>
  </ng-container>

  </tbody>
</table>
<!--<mat-paginator [length]='50' [pageIndex]="0" [pageSize]="5" (page)="pageChanged($event)"-->
<!--               [pageSizeOptions]=[1,4,6,8] aria-label="Select page" color = "warning">-->
<!--</mat-paginator>-->
