<button  (click)="openDialog2()" style=" margin-left: 79.5%;" type="button" class="btn btn-primary">Add JE</button>
<table class="table" >
  <thead>
  <tr>
    <th scope="col" >Id </th>
    <th scope="col">Name <button class="fa fa-sort" (click)="sorttable()"></button></th>
    <th scope="col">Email</th>
    <th scope="col">Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <ng-container  *ngFor="let je of jes">
        <tr *ngIf="je.active === true">
          <td >{{je.id}} </td>
          <td>{{je.userName}} </td>
          <std>{{je.email}}</std>
          <td>{{je.phoneNumber}}</td>
          <td><button (click)="openDialog(je.id)" id="button" type="button" class="btn btn-primary ">Update</button></td>
          <td><button (click)="openDialog1(je.id)" type="button" class="btn btn-danger">deactive</button></td>
        </tr>
        <tr *ngIf="je.active === false">
          <td >{{je.id}} </td>
          <td>{{je.userName}} </td>
          <std>{{je.email}}</std>
          <td>{{je.phoneNumber}}</td>
          <td><button (click)="openDialog(je.id)" id="button" type="button" class="btn btn-primary ">Update</button></td>
          <td><button (click)="openDialog1(je.id)" type="button" class="btn btn-success">active</button></td>
        </tr>
  </ng-container>


  </tbody>
</table>

<p-paginator [rows]="5" [totalRecords]="totalRecords" [rowsPerPageOptions]="[2,5,10]" (onPageChange)="onChangePage($event)"></p-paginator>
