<h2 style="text-align: center" class="text-uppercase">Tạo công việc mới</h2>
<form  [formGroup]="insertJobForm" >
  <div class = "form-row">
    <div class = "form-group col-md-12">
      <label> Tên công việc </label>
      <input type="text" class = "form-control" id="name"
             name = "name" placeholder="Nhập tên công việc"
             [(ngModel)]="job.name" formControlName = "name">
      <small *ngIf = "insertJobForm.get('name').invalid && insertJobForm.get('name').touched"
             class="text-danger"> Vui lòng nhập tên (không quá 150 ký tự) </small>
    </div>

    <div class = "form-group col-md-3">
      <label for="job position"> Vị trí công việc </label>
      <select class = "form-control" id="job position"
              (change)="selectJobPositionOption($event.target.value)"
              formControlName = "job-position">
        <option *ngFor="let jobPosition of jobPositions"
                [value]="jobPosition.id"
                >{{ jobPosition.description }}
        </option>
      </select>
      <small *ngIf = "insertJobForm.get('job-position').invalid && insertJobForm.get('job-position').touched"
             class="text-danger"> Vui lòng chọn vị trí công việc </small>
    </div>

    <div class = "form-group col-md-3">
      <label for="working form"> Hình thức làm việc </label>
      <select class = "form-control" id="working form"
              (change)="selectWorkingFormOption($event.target.value)"
              formControlName = "working-form">
        <option *ngFor="let workingForm of workingForms"
                [value]="workingForm.id"
        >{{ workingForm.description }}
        </option>
      </select>
      <small *ngIf = "insertJobForm.get('working-form').invalid && insertJobForm.get('working-form').touched"
             class="text-danger"> Vui lòng chọn hình thức làm việc </small>
    </div>

    <div class = "form-group col-md-3">
      <label> Lương tối thiểu </label>
      <input type="number" class = "form-control" id="salary min"
             name = "salary min" placeholder="Nhập lương tối thiểu"
             min="0"
             [(ngModel)]="job.salaryMin" formControlName = "salaryMin">
      <small *ngIf = "insertJobForm.get('salaryMin').invalid && insertJobForm.get('salaryMin').touched"
             class="text-danger"> Vui lòng nhập lương (kiểu số không âm) </small>
    </div>

    <div class = "form-group col-md-3">
      <label> Lương tối đa </label>
      <input type="number" class = "form-control" id="salary max"
             name = "salary max" placeholder="Nhập lương tối đa"
             [(ngModel)]="job.salaryMax" formControlName = "salaryMax">
      <small *ngIf = "insertJobForm.get('salaryMax').invalid && insertJobForm.get('salaryMax').touched"
             class="text-danger"> Vui lòng nhập lương (kiểu số không âm) </small>

<!--      &lt;!&ndash;      {{this.insertJobForm.value.salaryMax | json}}&ndash;&gt;
      <small *ngIf = "this.insertJobForm.value.salaryMax < this.insertJobForm.value.salaryMin"
             class="text-danger"> Lương tối đa phải lớn hơn </small>
      <div *ngIf="f.pattern.invalid && (f.pattern.dirty || f.pattern.touched)">
        <div *ngIf="f.pattern.error" >
          <small>Lương tối đa phải lớn hơn</small>
        </div>
        <div *ngIf="f.pattern.required" >
          <small>Trương thông tin không được để trống</small>
        </div>-->
    </div>

    <div class = "form-group col-md-12">
      <label> Địa chỉ làm việc </label>
      <input type="text" class = "form-control" id="address work"
             name = "address work" placeholder="Nhập địa chỉ công việc"
             [(ngModel)]="job.addressWork" formControlName = "address-work">
      <small *ngIf = "insertJobForm.get('address-work').invalid && insertJobForm.get('address-work').touched"
             class="text-danger"> Vui lòng nhập địa chỉ (không quá 300 ký tự) </small>
    </div>

    <div class = "form-group col-md-12">
      <label> Mô tả công việc </label>
      <textarea class="form-control" id="description" rows="3"
                name = "description" placeholder="Nhập mô tả công việc"
                [(ngModel)]="job.description" formControlName = "description"></textarea>
      <small *ngIf = "insertJobForm.get('description').invalid && insertJobForm.get('description').touched"
             class="text-danger"> Vui lòng nhập mô tả (không quá 2000 ký tự) </small>
    </div>

    <div class = "form-group col-md-3">
      <label> Số năm kinh nghiệm </label>
      <input type="text" class = "form-control" id="number experience"
             name = "number experience" placeholder="Nhập số năm kinh nghiệm"
             [(ngModel)]="job.numberExperience" formControlName = "number-experience">
      <small *ngIf = "insertJobForm.get('number-experience').invalid && insertJobForm.get('number-experience').touched"
             class="text-danger"> Vui lòng nhập số năm (kiểu số) </small>
    </div>

    <div class = "form-group col-md-3">
      <label> Số lượng cần tuyển </label>
      <input type="text" class = "form-control" id="qty person"
             name = "qty person" placeholder="Nhập số lượng tuyển"
             [(ngModel)]="job.qtyPerson" formControlName = "qty-person">
      <small *ngIf = "insertJobForm.get('qty-person').invalid && insertJobForm.get('qty-person').touched"
             class="text-danger"> Vui lòng nhập số lượng (kiểu số) </small>
    </div>

    <div class = "form-group col-md-3">
      <label for="academic level"> Trình độ học vấn </label>
      <select class = "form-control" id="academic level"
              (change)="selectAcademicLevelOption($event.target.value)"
              formControlName = "academic-level">
        <option *ngFor="let academicLevel of academicLevels"
                [value]="academicLevel.id"
        >{{ academicLevel.description }}</option>
      </select>
      <small *ngIf = "insertJobForm.get('academic-level').invalid && insertJobForm.get('academic-level').touched"
             class="text-danger"> Vui lòng chọn trình độ học vấn </small>


    </div>

    <div class = "form-group col-md-3">
      <label for="rank"> Level </label>
      <select class = "form-control" id="rank"
              (change)="selectRankOption($event.target.value)"
              formControlName = "rank">
        <option *ngFor="let rank of ranks"
                [value]="rank.id"
        >{{ rank.description }}</option>
      </select>
      <small *ngIf = "insertJobForm.get('rank').invalid && insertJobForm.get('rank').touched"
             class="text-danger"> Vui lòng chọn level </small>

    </div>

    <div class = "form-group col-md-12">
      <label> Kĩ năng </label>
      <input type="text" class = "form-control" id="skills"
             name = "skilss" placeholder="Nhập kĩ năng"
             [(ngModel)]="job.skills" formControlName = 'skills'>
      <small *ngIf = "insertJobForm.get('skills').invalid && insertJobForm.get('skills').touched"
             class="text-danger"> Vui lòng nhập kĩ năng </small>
    </div>

<!--    <div class = "form-group col-md-6">
      <label> Start Recruitment Date </label>
      <input type="date" class = "form-control" id="start recruitment date"
             [(ngModel)]="job.startRecruitmentDate"
             name = "start recruitment date" >
    </div>-->

    <div class = "form-group col-md-6">
      <label> Hạn nộp hồ sơ </label>
      <input type="date" class = "form-control" id="due date"
             name = "due date"
             [(ngModel)]="job.dueDate" formControlName = "due-date">
      <small *ngIf = "insertJobForm.get('due-date').invalid && insertJobForm.get('due-date').touched"
             class="text-danger"> Vui lòng nhập hạn nộp hồ sơ </small>

    </div>

    <div class = "form-group col-md-6">
      <label> Người liên hệ </label>
      <select class = "form-control" id="contact"
              (change)="selectContactJE($event.target.value)"
              formControlName = "contact">
        <option *ngFor="let contact of contactJE"
                [value]="contact.id"
        >{{ contact.name }}</option>
      </select>
      <small *ngIf = "insertJobForm.get('contact').invalid && insertJobForm.get('contact').touched"
             class="text-danger"> Vui lòng chọn người liên hệ </small>

    </div>

    <div class = "form-group col-md-12">
      <label> Quyền lợi được hưởng </label>
      <textarea class="form-control" id="interest" rows="3"
                name = "interest" placeholder="Nhập quyền lợi được hưởng"
                [(ngModel)]="job.interest" formControlName = "interest"></textarea>
      <small *ngIf = "insertJobForm.get('interest').invalid && insertJobForm.get('interest').touched"
             class="text-danger"> Vui lòng nhập quyền lợi (không quá 2000 ký tự)</small>
    </div>

    <div class = "form-group col-md-12">
      <label> Yêu cầu công việc </label>
      <textarea class="form-control" id="job requirement" rows="3"
                [(ngModel)]="job.jobRequirement" formControlName = "job-requirement"
                name = "job requirement" placeholder="Nhập yêu cầu công việc"></textarea>
      <small *ngIf = "insertJobForm.get('job-requirement').invalid && insertJobForm.get('job-requirement').touched"
             class="text-danger"> Vui lòng nhập yêu cầu< (không quá 2000 ký tự)</small>
    </div>
  </div>

  <div class = "form-row row" style="margin: 0px">
    <button type="submit" [disabled]="insertJobForm.invalid" (click)="onSubmit()"
            class="btn btn-primary group-btn col">Tạo</button>
    <button type = "cancel" class="btn btn-danger group-btn col" (click) = "gotoJobList()">Hủy</button>
  </div>

</form>

